=provide(:title,"Add room type")
.row
  .center-form.sm-width
    =form_for([:admin,@room_type]) do |f|
      =render 'shared/error_messages', object: f.object
      =render 'fields', f:f
      =f.submit "Create new room type", class:"btn btn-large btn-primary"
