-provide(:title,'Home')
.jumbotron
  %h1.display4 A comfortable place to stay
  %p.lead for a very affordable price
  %hr.my-4
  %p reservations made easy
  %a.btn.btn-primary.btn-lg(href="#") Make a reservation
