=provide(:title, 'Edit weekend price')
.col-md
  %h5.listing-header Edit weekend top up price
  .center-form.sm-width
    =form_for([:admin,@weekend_price]) do |f|
      =render 'shared/error_messages',object:f.object
      New price: #{f.text_field :price}
      =f.submit "Modify weekend top up price", class:"btn btn-large btn-primary"
