.formatted_room
  %li.styled-listing.add-bottom-border
    %h6
      Room ##{room.room_num}
    =render 'shared/display_room_and_view_types',room_types:room_types,view_types:view_types
    %h6 Accomadates #{room.num_of_guess} guess
    %img(src = '/assets/room_img/room.jpeg')
    -if(display_extra)
      %h6 Total price for #{display_days_between_dates(@checkin_date,@checkout_date)} nights: #{format_room_price(display_calc_total_price(@checkin_date, @checkout_date, room, @price_modifiers, @weekend_price))}$
      %h6
        =link_to 'Make a reservation!', '/room_reservation/new/'+room.id.to_s+'/'+@checkin_date+'/'+@checkout_date
    -if(is_admin?)
      %br
      =link_to 'Edit room', edit_admin_room_path(room)
      =link_to 'Delete the room', admin_room_path(room), method: :delete, data: {confirm: "Delete room #"+room.room_num.to_s+"?"},class:"mx-2"
