=provide(:title, 'Room '+@room.room_num.to_s)
%h5 Room number #{@room.room_num}  #{display_availability(@room.status)}
%h5 #{format_room_price(@room.view_type.price + @room.room_type.price)}$/night

.btn.btn-large.btn-primary View availability of this room
