.row
  %section
    =form_tag('/search', :method =>"get") do
      Room's view?:
      %select#viewtype(name="view_type_selected")
        -@view_types_hashmap.each do |view|
          %option#selectView(value = "#{view[0]}") #{view[1]}
      Type of room?:
      %select#roomtype(name="room_type_selected")
        -@room_types_hashmap.each do |room|
          %option#selectRoom(value = "#{room[0]}") #{room[1]}
      .datepicker-group
        =render '/reservation_dates/datepickers'
        %input(type="submit" value="Search!")
