check-in date:
%input#checkin(name="checkin_date" type="date")
%br
check-out date:
%input#checkout(name="checkout_date" type="date")
:javascript
  var today = new Date().toISOString().split('T')[0];
  document.querySelector("#checkin").setAttribute('min',today);
  document.querySelector("#checkout").setAttribute('min',today);
