%li
  %h6
    Client name: #{reservation[0].reservation.client.name}
  %h6
    Date reservated: #{reservation[0].reservation_date.date} to #{reservation[1].reservation_date.date}
  %h6
    Room #: #{reservation[0].room.room_num}
