%li.styled-listing.add-bottom-border
  %h6
    Client name: #{reservation.reservation.client.name}
  %h6
    Date reservated: #{reservation.from_date.date} to #{format_checkout_date(reservation.to_date.date)}
  %h6
    Room #: #{reservation.room.room_num}
  =link_to 'More details on the reservation','/reservation_summary/'+reservation.reservation.id.to_s
