%label(for="form_name") Name:
%input#name(name='form_name' type="text")
%label(for="form_email") Email:
%input#email(name='form_email' type="email")
%label(for="form_phone") Phone number:
%input#phone(name='form_phone' type="text")
