%h6
  Room ##{@room.room_num}
=render 'shared/display_room_and_view_types',room_types:@room_type,view_types: @view_type
%h6
  insert image here ... when it's gonna be available (placeholder for image)
