/*mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* general styling to make it less basic*/
*{
  font-family: -apple-system
}

/* layout formatting */
.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-col *{
  margin-bottom: 2em;
}
.spaceout-bottom{
  margin-bottom:1em;
}

/* listings */
.listing-header{
  text-decoration: underline;
  margin-bottom: 1em;
  text-align: center;
}

.styled-listing{
  list-style: none;
  margin-bottom: 1em;
}

.add-bottom-border{
  border-bottom: 1px solid black
}
// .add-bottom-border:last-of-type{
//   border-bottom: 0
// }

/*jumbotron*/
.jumbotron{
  text-align: center;
  background-image: url('https://radissonhotels.iceportal.com/image/country-inn-suites-by-radisson-erie-pa/exteriorview/16256-116591-f65039627_3xl.jpg');
  background-size:cover ;
  background-position: center;
  color:black;
}

/*footer*/

footer{
  display: flex;
  ul{
    display: flex;
    list-style: none;
  }
}


/* forms */
form{
  display: flex;
  flex-direction: column;
}

.center-form{
  width: 50%;
  margin:auto;
  text-align: center;
}
.sm-width{
  width:30%;
}


/* forms errors*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}
