/*mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* general styling to make it less basic*/
*{
  font-family: -apple-system
}

/* layout formatting */

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dir-row{
  display: flex;
  flex-direction: row;
}
.flex-col *{
  margin-bottom: 2em;
}
.spaceout-bottom{
  margin-bottom:1em;
}

/* listings */
.listing-header{
  text-decoration: underline;
  margin-bottom: 1em;
  text-align: center;
}

.styled-listing{
  list-style: none;
  margin-bottom: 1em;
}

.add-bottom-border{
  border-bottom: 1px solid black;
}

.add-border{
  border: 1px solid black;
  padding: 1em;
}

/* room list formatting*/
.room-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*pagination module*/
.pagination ul{
  width: 50%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style:none;
}

/*search container*/
.search_container{
  display: flex;
  flex-direction: row;
}

/*jumbotron*/
.jumbotron{
  text-align: center;
  background-image: url('jumbotron/bg.jpg');
  background-size:cover ;
  background-position: center;
  color:navy;
}

/*footer*/

footer{
  display: flex;
  ul{
    display: flex;
    list-style: none;
  }
}


/* forms */
form{
  display: flex;
  flex-direction: column;
}


textarea{
  resize: none;
}

.center-form{
  width: 50%;
  margin:auto;
  text-align: center;
}
.sm-width{
  width:30%;
}

.lg-width{
  width:80%;
}


/* forms errors*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.alert-error{
  color:red
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
}
