%hr.my-4
%footer
  %h6 Semi Medical Solutions
  %nav
    %ul
      %li.mx-2
        =link_to 'About', '#'
      %li.mx-2
        =link_to 'Contact', '#'
      %li.mx-2
        =link_to 'Help', help_path
